{% extends 'base.html.twig' %}

{% block title %}Hello GestionPretController!{% endblock %}



{% block body %}

        
    <h1 class="text-2xl font-bold">{{ titre }}</h1>
    <turbo-frame id="the_frame_id">
        <div class="panel flex justify-center items-center h-screen">
            <div class=" text-center">
            
                {{ form_start(form, {action: path('app_gestion_pret')}) }}
                    <div class="mb-10">
                        {{ form_row(form.sauvegarder) }}
                    </div>
                    <div class="mb-5">
                        {{ form_row(form.reference) }}
                    </div>
                {{ form_end(form) }}
                <a href="{{ path('app_pret_ajouter') }}"><p class='text-black'>Créer un pret sans carte ?</p></a>
            </div>

    </div>
    </turbo-frame>


{% endblock %}
